@media only screen and (max-width: 768px) {

    .prior-div .table-resp {
        border: 0;
        border-collapse: collapse;
    }

    .prior-div .table-resp, .prior-div .table-resp thead, .prior-div .table-resp tbody, .prior-div .table-resp th, .prior-div .table-resp td, .prior-div .table-resp tr {
        display: block;
    }

    .prior-div .table-resp thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        overflow: hidden;
    }

    .prior-div .table-resp tbody tr {
        margin: 0 0 15px 0;
        display: flex;
        flex-flow: column;
        border: 1px solid #638cad;
        border-bottom: 0;
    }

    .prior-div .table-resp tbody tr:nth-child(odd) { }

    .prior-div .table-resp tbody tr:nth-child(even) { }

    .prior-div .table-resp tr td {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #638cad;
        position: relative;
        padding-left: 40%;
        word-wrap: break-word;
    }

    .prior-div .table-resp tr td:last-child {
        border-bottom: none;
    }

    ​.prior-div .table-resp tr td:first-child {
        border-top: 1px solid #638cad;
    }

    .prior-div .table-resp td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 55%;
        padding-right:10px;
        white-space: nowrap;
        content: attr(data-label);
        text-align: left;
    }
}
